*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
app/libs/
inject-annotation/libs/
inject-compiler/libs/
inject/libs/
inject/src/main/res/drawable/
